

header, nav, main, footer
{
    padding: 10px;
    margin: auto;
    border: solid;
 
    text-align: center;

}

header
{
    width: 750px;
    height: 250px;
    background-color: blue;
    display: flex;
    gap: 10px;
    
}
header #ban
{
    width: 500px;
    height: 250px;
    background-color: aliceblue;

}
header #logo
{
    width: 240px;
    height: 250px;
    background-color: aliceblue;
}
nav
{
    width: 750px;
    height: 50px;
    background-color: green;
}
main
{
    width: 750px;
    height: 400px;
    background-color: yellow;
    display: flex;
    gap: 10px;
}
main article
{
    width: 450px;
    height: 100%;
    background-color: aliceblue;

}
main aside
{
    width: 290px;
    height: 100%;
    background-color: aliceblue;
}
footer
{
    width: 750px;
    height: 50px;
    background-color: orange;
}