.inicio
{
    width: 300px;
    height: 100px;
    background-color: rgb(0, 170, 255);
    
    margin:  100px  auto;
    padding: 20px;
    text-align:center;
    

    
}
.inicio a{
    color: aliceblue;
    font-size: 50px;
}

#menu,header,main,footer
{
    
    
    margin: auto;
    padding: 10px;
    border: 5px solid;
    text-align: center;
   
}  

#menu 
{
    width: 1000px;
    height: 100px;
    background-color: green;
    
    
}
#menu ul
{
    list-style: none;
    margin: 0px;
    display: flex;
    gap: 10px;
    padding: 5px;
    flex-direction: row;
  
}
#menu li
{
    
    width: 190px;
    height: 90px;
    background-color: white;
    border: 1px solid black;
    padding: 1px 0;
}

header{
    width: 1000px;
    height: 300px;
    background-color: blue;
    display: flex;
    gap: 10px   ;
    

}
header #ban
{
    width: 800px;
    height: 300px;
    background-color: aliceblue;
    
   
}
header #log
{
    width: 190px;
    height: 300px;
   
}

#log ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
   padding: 0px 1px;
   margin: auto;
   

}
#log li
{
    width: 180px;
    height: 97px;
    background-color: aliceblue;
    border: 1px solid black;
    margin: 1px
    
    
}

main
{
    width: 1000px;
    height: 500px;
    background-color: yellow;
    display: flex;
    gap: 10px;
}
main #derecha
{
    width: 200px;
    height: 500px;
    background-color: white;
   
    
}
main article
{
    width: 500px;
    height: 500px;
    background-color: aliceblue;
   
    
}
main #izquierda
{
    width: 280px;
    height: 500px;
    background-color: white;
    
}

footer
{
    width: 1000px;
    height: 50px;
    background-color: orange;
    
} 